.link {
	background-color: #0452aa; /* Green */
	border-radius: 10px;
	color: white;
	padding: 1em 0.5em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-right: 2vw;
	margin-left: 2vw;
}
.formContainer {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
p {
	margin-left: 10px;
}
.formContainer input {
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 40px;
	font-size: medium;
	border-radius: 10px 0 0 10px;
}
.formContainer label {
	font-size: 20px;
	margin-top: 8px;
	padding-right: 1em;
}
div button {
	background-color: #0452aa;
	border: none;
	font-size: medium;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
}
.containerFavWea {
	padding-left: 10px;
}

.rows {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.rows li {
	list-style: none;
	padding-left: 10px;
}
